@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*
{
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root 
{
  --background: #171717;
  --primary:#3700b3;
  --secondary: rgba(252, 41, 74, 1.0);
	--shades: rgba(238, 238, 238, 1.0);
}
body{
  background:var(--background);
  font-family: 'Raleway', sans-serif;
  width: 100%;
}
.dashboard
{
  text-align: center;
  font-size: 35px;
}