@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cairo');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&family=Poppins:wght@300;400;500;600&display=swap');


*
{
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root 
{
  --background: #111;
  --primary:#3700b3;
  --secondary: rgba(252, 41, 74, 1.0);
	--shades: rgba(238, 238, 238, 1.0);
  --lightblue: #6cacc5;
  --bg-dark: #171717;
  --bg-light: #fff;
  --font-medium:500;
  --font-bold:600;
  --text-color:#fff;
  --box-color: dodgerblue;
  --skin-color: deeppink;
}
body{
  background:var(--background);
  font-family: 'Raleway', sans-serif;
  width: 100%;
  color: #fff;
}

.dashboard
{
  display: flex;
}

.container
{
  max-width: 1280px;
  margin: 0 auto;
}